/* main page links with images*/
.media-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .media-card_img {
    height: auto;
    margin: 0 auto;
    display: block;
  }
  .media-card > a {
    text-decoration: none;
    color: var(--bs-black);
    font-size: 0.9rem;
    padding: 1rem;
    font-family: var(--bs-font-sans-serif)
  }
  .media-card a > p {
    font-size: 0.8rem;
  }
  
  @media (min-width: 500px)  {
    
    /* css for image links */
   .media-card-container {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    gap: 0.5rem;
    flex-wrap: nowrap; /* keep it all in one row */
    padding-left: 1rem;
    padding-right: 1rem;
   }
   .media-card {
    max-width: 90%;
    box-sizing: border-box;
    background-color: var(--bs-white);
    text-align: left;
    padding: 0;
   }
   .media-card a {
    padding: 0;
   }
   .media-card img {
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
   }
  }