/* Disclaimer */
.disclaimer {
    background-color: rgb(255, 255, 255);
    font-size: 0.8rem;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 0.5em;
    font-size: 0.8rem;
    color: var(--bs-black);
  }
  
  /* Title and logo styling */
  section.global-header {
    display: flex;
    background-color: var(--bs-black);
    height: 5em;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
  }
  span.logo {
    height: 0;
    width: 0;
    margin: 0.5em;
    display: inline-block;
    border-top: 34px solid var(--bs-light-green);
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    color: var(--bs-white);
  }
  /* "national park service" */
  span.national-park-service {
    font-size: .7rem;
    font-weight: bold;
    color: white;
  }
  /* 'national park service + logo */
  .site-title {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .site-title > span {
    font-size: 1rem;
    margin-left: 0.3em;
    font-size: .8rem;
  }
  /* icons and label for MENU and SEARCH and icons on right of header */
  .global-header__right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  /* this button id holds the "menu" label and menu icon */
  button#global-nav-toggle {
    background-color: var(--bs-black);
    color: var(--bs-white);
    display: flex;
    align-items: center;
    gap: 0;
    cursor: pointer;
    border: none;
  }
  .search-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    line-height: 0;
    background: none;
    border: none;
    transition: background-color 0.3s ease;
    font-size: 0;
  }
  .search-icon:hover {
    background-color: var(--bs-chathams-blue);
    cursor: pointer;
  }
  svg.icon {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--bs-black);
  }
  .menu-label {
    font-size: 1.2rem;
  }
  
  /* main image of grand prismatic in yellowstone */
  .image-banner {
    position: relative;
    width: 100%;
    display: block;
  }
  .image-banner img {
    width: 100%;
  }
  .image-banner_content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    width: 100%;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
  }
  .image-banner_spans > span {
    padding-left: 1rem;
    font-size: 0.5rem;
  }
  p.park-description-p {
    font-size: 0.7rem;
    display: grid;
    grid-template-columns: 1fr;
  }
  /* "yellowstone" */
  #park-header {
    background-color: var(--bs-black);
  }
  #park-header a {
    color: var(--bs-white);
    text-decoration: none;
    width: 270px;
    font-size: 1.5rem;
  }
  #park-header a:hover {
    color: var(--bs-white);
    text-decoration: none;
    cursor: pointer;
  }
  
  #icon-header {
    background-color: var(--bs-black);
    color: var(--bs-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  #icon-header ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #icon-header li {
    display: flex;
    flex-direction: column; /* puts text above icons */
    align-items: center;/* centers text/icon horizontally */
    text-align: center; 
    flex-wrap: wrap; /* allows items to wrap to the next line */
  }
  .icon-link {
    flex: 1;
    text-align: center;
    min-width: 0;
  }
  .icon-wrapper {
    display: flex;
    flex-direction: column; /* puts text above icons, stacked vertically */
    align-items: center; /* centers text/icon horizontally */
    white-space: nowrap; /* prevents text from wrapping */
    padding-bottom: 0.3rem;
  }
  #info-icon {
    padding-left: 0.25rem;
  }
  #icon-header span {
    font-size: 0.7rem; /* smaller text */
    color: var(--bs-white);
    text-decoration: none;
  }
  .label--container {
    font-size: 0.5rem;
  }
  /* dropdown nav */
  .global-nav {
    display: none;
  }
  .intro h2 {
    padding: 1.4rem 1rem 1rem 1rem;
    font-size: 1.4rem;
    margin: 0;
  }
  .intro p {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8rem;
    margin: 0;
  }
  @media (min-width: 500px)  {
    /* logo and "national park service (left header) */
    /* Title and logo styling */
    section.global-header {
      display: flex;
    }
    /* 'national park service + logo */
    .site-title > span {
      margin-left: 0.5rem;
      font-size: 1rem;
    }
    /* right side of header w/ menu and search label and icons */
    .global-header__right {
      flex: 1;
    }
    .menu-label {
      padding-right: 1rem;
    }
    .image-banner {
      height: 350px;
      display: flex;
      justify-content: center;
    }
    /* "yellowstone" */
    .image-banner_name {
      font-size: 1.5rem;
      color: var(--bs-white);
      text-decoration: none;
      width: auto;
    }
    /* national park, id, mt, wy */
    .image-banner_spans > span{
      font-size: .7rem;
      flex: 1; /* allows flex item to grow and fill the space */
    }
    /* the box around the icons - but not the banner behind it that's black */
    #icon-header  {
      display: flex;
      justify-content: space-between; /* can use center too */
      height: 5em;
      padding: 0 20%;
      flex-wrap: nowrap; /* prevents wrapping */
      overflow-x: auto; /* enables scroll if needed */
      gap: 1rem;
      margin: 0 auto;
      text-decoration: none;
    }
    #icon-header a {
      text-decoration: none;
      color: var(--bs-white);
    }
    #icon-header a:hover {
      color: var(--bs-white);
      text-decoration: underline;
      cursor: pointer;
    }
    #icon-header span {
      font-size: .7rem;
      text-align: center;
    }
    #icon-header li {
      flex: 1;
      text-align: center;
      min-width: 0;
    }
    span#fees, span#calendar, span#maps, 
    span#alerts, span#info {
      padding-bottom: 2px;
    }
}