/* Disclaimer */
.disclaimer {
    background-color: rgb(255, 255, 255);
    font-size: 0.8rem;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 0.5em;
    font-size: 0.8rem;
    color: var(--bs-black);
  }.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.alerts-information {
  color: var(--alert-information);
}
.alerts-danger {
  color: var(--alert-danger);
}
.alerts-warning {
  color: var(--alert-warning);
}
.alerts-closure {
  color: var(--alert-closure);
}
.alerts-caution {
  color: var(--alert-caution);
}
/* https://github.com/matkat99/nps/commit/2ee078ec8f0ec85818b4f1733728bcbb33bf4d9c */